<div class="message me" id={{login}} align="left">
    <table><tr>
        <td><img src="{{foto}}" class="messageFoto" id="foto" style="{{fotoStyle}}"></td>
        <td>
            {{text}}
            ({{login}}/{{date}})
        </td>
    </tr></table>
</div>